/*
Error: Undefined mixin 'box-sizing'.
        on line 7 of _page.scss, in `box-sizing'
        from line 7 of _page.scss

2: // PAGE STYLES
3: $accent-color: #66CCCC;
4: 
5: 
6: * {
7: 	@include box-sizing(border-box);
8: }
9: 
10: html, body {
11: 	color: #222;
12: 	background-color: white;

Backtrace:
_page.scss:7:in `box-sizing'
_page.scss:7
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:351:in `block in visit_mixin'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/stack.rb:98:in `with_mixin'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:349:in `visit_mixin'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `map'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/plugin.rb:109:in `method_missing'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/Users/toowan/.rvm/gems/ruby-2.2.2/gems/sass-3.4.23/bin/sass:13:in `<top (required)>'
/Users/toowan/.rvm/gems/ruby-2.2.2/bin/sass:23:in `load'
/Users/toowan/.rvm/gems/ruby-2.2.2/bin/sass:23:in `<main>'
/Users/toowan/.rvm/gems/ruby-2.2.2/bin/ruby_executable_hooks:15:in `eval'
/Users/toowan/.rvm/gems/ruby-2.2.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'box-sizing'.\A         on line 7 of _page.scss, in `box-sizing'\A         from line 7 of _page.scss\A \A 2: // PAGE STYLES\A 3: $accent-color: #66CCCC;\A 4: \A 5: \A 6: * {\A 7: 	@include box-sizing(border-box);\A 8: }\A 9: \A 10: html, body {\A 11: 	color: #222;\A 12: 	background-color: white;"; }
